<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
    .fixed-div {
        position: fixed;
        top: 56px;
        left: 12.5%;
        width: 87.5%;
        height: 500px;
        overflow-y: auto;
        padding: 30px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 30px;
    }
    .card {
        background-color: #f7f7f7;
        border: none;
        height: 600px;
        width: 220px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
        transition: transform 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .card:hover {
        transform: scale(1.1);
    }
    .card-link {
        text-decoration: none;
    }
    .card-img-top {
        width: 100%;
        height: 300px;
        padding-bottom: 5%;
        object-fit: cover;
    }
    .card-name h5 {
        margin-left: 5%;
        margin-bottom: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 90%;
    }
    .card-price p {
        margin-left: 5%;
        text-align: left;
        color: rgb(90, 90, 90);
    }
    </style>
</head>
<body>
    <div>
      {{> message}}
    </div>
    <div class="fixed-div hover">
        {{#each items}}
        <div class="card">
            <a href="{{this.link}}" class="card-link">
                <img id="image" src="{{this.image_url}}" alt="Card Image" class="card-img-top">
            </a>
            <div class="card-info">
                <div class="card-name">
                    <h6>{{this.name}}</h6>
                </div>
                <div class="card-price">
                    <p>${{this.price}}</p>
                </div>
            </div>
        </div>
        {{/each}}
        <div class="card">
            <a href="https://www.amazon.com/Womens-Summer-Dresses-Hollow-Long-Sleeve/dp/B0B7RHC3V1" class="card-link">
                <img id="image" src="../../img/dress.jpg" alt="Card Image" class="card-img-top">
            </a>
            <div class="card-info">
                <div class="card-name">
                    <h6>Women's Summer Dress</h6>
                </div>
                <div class="card-price">
                    <p>$16.00</p>
                </div>
            </div>
        </div>
        <div class="card">
            <a href="https://www.amazon.com/Button-Double-Breasted-Business-Wedding/dp/B09VGM1P55" class="card-link">
                <img id="image" src="../../img/suit.jpg" alt="Card Image" class="card-img-top">
            </a>
            <div class="card-info">
                <div class="card-name">
                    <h6>Wangyue Mens Suit</h6>
                </div>
                <div class="card-price">
                    <p>$66.00</p>
                </div>
            </div>
        </div>
        <div class="card">Outfit</div>
        <div class="card">Outfit</div>
        <div class="card">Outfit</div>
        <div class="card">Outfit</div>
        <div class="card">Outfit</div>
        <div class="card">Outfit</div>
        <div class="card">Outfit</div>
        <div class="card">Outfit</div>
        <div class="card">Outfit</div>
        <div class="card">Outfit</div>
        <div class="card">Outfit</div>
        <div class="card">Outfit</div>
        <div class="card">Outfit</div>
        <div class="card">Outfit</div>
        <div class="card">Outfit</div>
        <div class="card">Outfit</div>
        <div class="card">Outfit</div>
        <div class="card">Outfit</div>
        <div class="card">Outfit</div>
        <div class="card">Outfit</div>
        <div class="card">Outfit</div>
        <div class="card">Outfit</div>
        <div class="card">Outfit</div>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Some text in the Modal..</p>
            </div>
        </div>
    </div>
    <script src="../../js/galleryScript.js"></script>
</body>
</html>