<div style = "margin-left:25%; margin-right: 25%; margin-top: 5%; border: 1px solid; border-radius: 25px; padding: 2%; height: 50%">
    {{> message}}
    <h3>Login</h3>
    <form action = "/login" method = "post">
        <div class = "mb-2">
            <label class = "form-label" for = "username">Username</label>
            <input class = "form-control" name = "username" id = "username" type = "text">

            <label class = "form-label" for = "password">Password</label>
            <input class = "form-control" name = "password" id = "password" type = "password">
        </div>
        <button type = "submit" class = "btn btn-primary">Login</button>
        <div class = "form-text">Don't have an account? <a href = "/register">Register</a></div>
    </form>
</div>
