<div class="d-flex flex-column mx-auto">
    <h1>Login</h1>
    <form method="post" action="/login">
        <label for="username">Username</label> <br />
        <input name="username" /><br />
        <label for="password">Password</label> <br />
        <input type="password" name="password" /><br />
        <button class="btn btn-primary mt-2" type="submit">
            Login
        </button>
    </form>
    <p>Don't have an account yet? <a href="/register">Register</a> now</p>
</div>
