<style>
    .item-image {
        max-width: 100px;
    }
   .scrolling-wrapper .card {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }
    .card {
        display: inline-block;
    }
    .scrolling-wrapper {
        -webkit-overflow-scrolling: touch;
    }

</style>

<div class="p-4 d-flex flex-col">
    <table width="50%">
        <tr>
            <td> 
                <img 
                    src="https://freepngimg.com/thumb/beanie/136731-large-beanie-free-clipart-hq-thumb.png" 
                    alt="Beanie" 
                    class="item-image"> 
            </td>
            <td>Nordstorm Cashmere Beanie</td>
        </tr>
        <tr>
            <td> 
                <img 
                    src="https://static.vecteezy.com/system/resources/thumbnails/008/534/694/small/oversized-t-shirt-mockup-cutout-file-png.png" 
                    alt="TShirt" 
                    class="item-image"> 
            </td>
            <td>White Cotton Tshirt</td>
        </tr>
        <tr>
            <td> 
                <img 
                    src="https://www.knotstandard.com/assets/images/products/2269-detail.png?202304204" 
                    alt="TShirt" 
                    class="item-image"> 
            </td>
            <td>White Cotton Tshirt</td>
        </tr>
        <tr>
            <td> 
                <img 
                    src="https://static.vecteezy.com/system/resources/previews/022/665/831/original/long-pants-with-cut-out-isolated-on-background-transparent-png.png" 
                    alt="Pants" 
                    class="item-image"> 
            </td>
            <td>Grey Pants or Something</td>
        </tr>
        <tr>
            <td> 
                <img 
                    src="https://i.ebayimg.com/00/s/NTM3WDk3Mg==/z/b6QAAOSwetljWAFx/$_58.png" 
                    alt="Shoes" 
                    class="item-image"> 
            </td>
            <td>Nike AF1s</td>
        </tr>
    </table>
    <div>
        <div class="d-flex flex-col justify-content-between w-full">
            <h1>A drippy fit</h1>
            <a href="/closet">Back to Closet</a>
        </div>
        {{!-- ownership --}}
        <h4>Owned by: Jennifer Lawrence</h4>
        {{!-- total price --}}
        <h5>Total Price: $80000</h5>
        {{!-- decription --}}
        <p>Omg guys this is my description of this incredibly cool fit it is so awesome please trust me and you should
            totally add this fit to your closet!
        </p>
        <div class="d-flex flex-col gap-2">
            <button>Edit Outfit</button>
            <button>Share Outfit</button>
        </div>
        <div class="scrolling-wrapper">
            <div class="card"><h2>Card</h2></div>
            <div class="card"><h2>Card</h2></div>
            <div class="card"><h2>Card</h2></div>
            <div class="card"><h2>Card</h2></div>
            <div class="card"><h2>Card</h2></div>
            <div class="card"><h2>Card</h2></div>
            <div class="card"><h2>Card</h2></div>
            <div class="card"><h2>Card</h2></div>
            <div class="card"><h2>Card</h2></div>
        </div>
    </div> 
</div>