<div class="d-flex flex-column mx-auto">
    <h1>Register</h1>
    <form method="post" action="/register">
        <label for="username">Username</label> <br />
        <input name="username" /><br />
        <label for="password">Password</label> <br />
        <input type="password" name="password" /><br />
        <button class="btn btn-primary mt-2" type="submit">
            Register
        </button>
    </form>
    <p>Already have an account? <a href="/login">Login</a> now</p>
</div>
