<nav class="navbar fixed-top navbar-light bg-light">
  <div class="container-fluid justify-content-center bd-highlight">
    <img
      src="../../img/LookLoom.jpg"
      alt="LookLoomLogo"
      height="30px"
    />
    <h2>LookLoom</h2>
  </div>
</nav>