{{!-- Nav bar to include in the gallery view - this bar will include a search field --}}
<nav class="navbar fixed-top navbar-light bg-light">
  <div class="container-fluid justify-content-between bd-highlight">
    <p>LookLoom Logo Here</p>
    <h2>LookLoom</h2>
    <form class="d-flex" style="">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>